name: make-lint

on: push

jobs:

  setup-node:

    name: setup node

    runs-on: ubuntu-latest

    steps:
        uses: actions/setup-node@v2
        with:
          node-version: '12'
          check-latest: true
      - run: npm install
      - run: npm test

      - name: node version
        run: node -v